# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**

- List libraries used for data science
- List open source tools used for data science
- perform arithmetic calculations

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib
4. tensorflow

|Data Science Tools|
|---|
|Jupyterlab|
|Visual Studio Code|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python
-------

In [1]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marion Prifti